In [ ]:
Assignment : 9.1

In [ ]:
# 1 
# count-distance-to-the-previous-zero
# For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)

In [2]:
import pandas as pd
import numpy as np 

df = pd.DataFrame({'X':[7,2,0,3,4,3,5,0,3,4]})
df = df.assign(idx_from_0=df.loc[df.X==0])
nul = df['idx_from_0'].isnull()*1
df.assign(idx_from_0=nul.groupby((nul.diff() == -1).cumsum()).cumsum())

   X  idx_from_0
0  7           1
1  2           2
2  0           0
3  3           1
4  4           2
5  3           3
6  5           4
7  0           0
8  3           1
9  4           2

In [ ]:
# 2 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [3]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
rng = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
ts = pd.Series(np.random.rand(len(rng)), index=rng)
ts.head()

2015-01-01    0.291546
2015-01-02    0.161599
2015-01-05    0.398686
2015-01-06    0.280919
2015-01-07    0.728524
Freq: B, dtype: float64

In [4]:
#  3 : Find the sum of the values in s for every Wednesday
ts[rng.weekday == 2].sum()

28.153684063990667

In [5]:
#  4 : Average For each calendar month
ts.resample('M').mean()

2015-01-31    0.486744
2015-02-28    0.456661
2015-03-31    0.512575
2015-04-30    0.420689
2015-05-31    0.546059
2015-06-30    0.605456
2015-07-31    0.412371
2015-08-31    0.485120
2015-09-30    0.607881
2015-10-31    0.359225
2015-11-30    0.504165
2015-12-31    0.667702
Freq: M, dtype: float64

In [6]:
# 5 : For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

ts.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-21
2015-05-31   2015-03-20
2015-09-30   2015-06-30
2016-01-31   2015-12-08
dtype: datetime64[ns]